


{% extends 'base.html' %}
{% block body %}



<div class="container">
<h1>Inventario</h1>
<br>

       <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Medidas(Largo x Ancho)</th>
                    <th>Cantidad Disponible</th>
                    <th>Cantidad Fuera de Medidas</th>



                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>24-30</td>
                    <td>190x240</td>
                    <td>{{conteob24_30f}}</td>
                    <td>{{0}}</td>







                </tr>

                <tr>
                    <td>15-30</td>
                    <td>190x240</td>
                    <td>{{conteob15_30f}}</td>
                    <td>{{0}}</td>







                </tr>

                <tr>
                    <td>15,6-20</td>
                    <td>135x154</td>
                    <td>{{conteoc15c6_20f}}</td>
                    <td>{{0}}</td>







                </tr>

                <tr>
                    <td>15-15</td>
                    <td>135x200</td>
                    <td>{{conteoc15_15f}}</td>
                    <td>{{0}}</td>







                </tr>

            </tbody>
        </table>

<br>
</div>

{% endblock%}
